.cartTitle h2{
    padding-top: 1rem;
    text-align: center;
}

#cart-section {
    display: flex;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    height: 100%;
}

.cart-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
}

.total {
    font-size: 1.5em;
    margin-top: 20px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

button.remove {
    background-color: var(--color-terciary);
    color: white;
    padding: .2rem .4rem;
    border-radius: 1rem;
    border: 0px;
}

button.increase,
button.decrease {
    background-color: var(--color-terciary);
    color: white;
    padding: .2rem .4rem;
    border-radius: 1rem;
    border: 0px;
}



.button-container{
    display: flex;
    text-align: center;
    flex-direction: column;
}


