
main{
    display: flex;
    flex-direction: column;
}

.productsCategoriesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.productsCategoriesContainer .productsCategories .ulCategories{
    display: flex;
    gap: .2rem;
    flex-wrap: wrap;
    list-style: none;
}
.productsCategoriesContainer .productsCategories .ulCategories button{
    background-color: var(--color-primary);
    border: 1px solid;
    padding: 2px;
}
.productsCategoriesContainer .productsCategories .ulCategories button:hover{
    background-color: var(--color-terciary);
    color: white;

}
.productsCategoriesContainer .productsCategories .ulCategories button:focus{
    background-color: var(--color-terciary);
    color: white;
}




/* product section */
.containerProducts{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 1rem;
    justify-content: center;
}
.containerProducts .productDiv{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.containerProducts .productDiv img{
    width: 300px;
    height: 300px;
    object-fit: contain; 
}
.containerProducts .productDiv p{
    font: 3rem;
}







